body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 400px;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937; 
    padding: 30px 200px 100px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    width: 125px;
    height: 40px;
    border-radius: 8px;
    background-color: #3882F6;
    border: 0;
    color: white;
    font-size: 20px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

h2 {
    padding-bottom: 15px;
}

h2, a{
    color: #c7c9ce;
    font-size: 18px;
    font-weight: 150;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 15px 0;
    margin: 0;
}

.container3 {
    max-width: 450px;
}

a {
    text-decoration: none;
    padding-left: 10px;
}

.info_header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: BOLDER;
    color: #1F2937;
    padding: 50px 0 50px 0;
}

.blocks {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
    padding-bottom: 120px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 300px;
}

.block {
    border: 4px solid;
    width: 150px;
    height: 150px;
    border-color: #3882F6;
    border-radius: 12px;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
    padding: 150px 350px;
}

.quote-author{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    flex-direction: row-reverse;
    padding-top: 10px;
}

.pre-footer{
    display: flex;
    background-color: #3882F6;
    margin: 150px 300px;
    padding: 50px 50px;
    color:white;    
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.box-head{
    font-weight: 700;
    font-size: 25px;
}

.bottom-button{
    border: 1px solid white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    font-weight: 200;
    padding: 40px 0;
}